*{box-sizing: border-box;}

html,
body{
    width: 100%;
    height: 100%;
    font-family: 'Pretendard';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

body{
  word-break: break-all;
  -ms-word-break: break-all;
  word-break: keep-all;
  word-wrap: break-word;
}

body,p,
h1,h2,h3,h4,h5,h6,
ul,ol,li,
dl,dt,dd,
table,th,td,
form,fieldset,
legend,input,
textarea,button,select{
    margin: 0;
    padding: 0;
}

img,
fieldset,
iframe{
    border: 0 none;
}

input[type=checkbox]{
    border: 0 none;
    display: none;
}

input::-ms-clear{
    display: none;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear{
    display: none;
}

ul,ol{
    list-style: none;
}

em,address{
    font-style: normal;
}

a{
    text-decoration: none;
}

a,img,button,
a,img,button,input{
    outline: none;
}

article,aside,dialog,footer,
header,section,footer,nav,figure{
    display: block;
    margin: 0;
    padding: 0;
}

button{
    cursor: pointer;
}

img{
    object-fit: cover;
    object-position: center;
    margin: 0;
    padding: 0;
    vertical-align: top;
    border: 0;
    outline: 0;
    max-width: 100%;
}

button{
    border: none;
    background-color: inherit;
    border-radius: 0;
}

button::-moz-focus-inner{
    padding: 0;
    border: 0;
}

.slick-active:focus{
    outline: none !important
}

textarea:focus{
    outline: none;
}

input{
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.swiper{
    width: 100%;
    height: 100%;
}

.swiper-slide{
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.divTable{
	display: table;
	width: 100%;
}

.divTableRow{
	display: table-row;
}

.divTableHeading{
	background-color: #EEE;
	display: table-header-group;
}

.divTableCell, .divTableHead{
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}

.divTableHeading{
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}

.divTableFoot{
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}

.divTableBody{
	display: table-row-group;
}